<mat-card class="hotels-container">
    <div class="title-info"  fxLayout="row" fxLayoutGap="20px">
        <div class="left" fxFlex="65">
        <h1 class="title-bold">Booking your Hotel</h1>
        </div>
        <div class="right" fxFlex="30" > 
        <mat-button-toggle-group>
            <mat-button-toggle value="Domestic">Domestic</mat-button-toggle>
            <mat-button-toggle value="International">International</mat-button-toggle> 
        </mat-button-toggle-group>
        </div>
    </div>

    <div class="from-to"  fxLayout="row" fxLayoutGap="20px">
        <div class="left" fxFlex="50">
            <mat-label>From</mat-label>
            <br>
            <mat-form-field class="example-full-width" appearance="fixed">
                <input matInput placeholder="South Africa">
            </mat-form-field> 
        </div>
        <div class="left" fxFlex="50">
            <mat-label>To</mat-label>
            <br>
            <mat-form-field class="example-full-width" appearance="fixed">
                <input matInput placeholder="Australia">
            </mat-form-field> 
        </div>
    </div>

    <div class="depature-return"  fxLayout="row" fxLayoutGap="40px">
        <div class="left">
            <mat-label>Departure</mat-label>
            <br>
            <mat-form-field appearance="fixed">
                <input matInput  type="date" placeholder="MM/DD/YYYY">
            </mat-form-field> 
        </div>
        <div class="left">
            <mat-label>Return</mat-label>
            <br>
            <mat-form-field appearance="fixed">
                <input matInput  type="date" placeholder="MM/DD/YYYY">
            </mat-form-field> 
        </div>
        <div class="left">
            <mat-label>Adults</mat-label>
            <br>
            <mat-form-field appearance="fixed">
                <input matInput type="number" placeholder="2">
            </mat-form-field> 
        </div>
    </div>

    <div class="controls"  fxLayout="row" fxLayoutGap="40px">
        <div class="left search-flights" fxFlex="50">
            <button mat-raised-button color="accent">Search Flights</button>
        </div>
        <div class="right advanced-search" fxFlex="50">
            <button mat-flat-button> 
                <i> Advance search</i>
            </button>
        </div>
    </div>
</mat-card>