<mat-card class="hotels-flights">
    <h1> Hotels and Flights </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sequi expedita nulla iure. Voluptatem error quae modi tempore itaque excepturi aliquam distinctio voluptatum dolorem eum, deleniti doloribus fuga. Fuga, adipisci.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex a facilis quibusdam! Quidem mollitia debitis eum? Possimus eligendi voluptas sit!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos earum ex ipsum sint vero pariatur, reprehenderit ullam cupiditate nobis corrupti iste eligendi magnam optio dolorem dolorum totam facere modi, reiciendis non! Inventore quibusdam provident molestias incidunt dolores adipisci, autem velit eius mollitia ipsam, ipsa atque.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex a facilis quibusdam! Quidem mollitia debitis eum? Possimus eligendi voluptas sit!</p>
  </mat-card>